# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: publish

on:
  release:
    types: [ published ]

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  NuGetDirectory: ${{ github.workspace }}/nuget

defaults:
  run:
    shell: pwsh

jobs:
  validate:
    uses: ./.github/workflows/validate.yml

  pack:
    runs-on: ubuntu-latest
    needs: validate

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET (global.json)
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Pack
        run: dotnet pack --configuration Release --output ${{ env.NuGetDirectory }}

      - name: Upload NuGet artifact
        uses: actions/upload-artifact@v4
        with:
          name: nuget
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.NuGetDirectory }}/*.nupkg

  deploy:
    runs-on: ubuntu-latest
    needs: pack

    steps:
      - name: Download NuGet artifact
        uses: actions/download-artifact@v4
        with:
          name: nuget
          path: ${{ env.NuGetDirectory }}

      - name: Setup .NET (global.json)
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Publish to NuGet.org
        run: |
          foreach($file in (Get-ChildItem "${{ env.NuGetDirectory }}" -Recurse -Include *.nupkg)) {
              dotnet nuget push $file `
                --api-key "${{ secrets.NUGET_APIKEY }}" `
                --source https://api.nuget.org/v3/index.json `
                --skip-duplicate
          }
